<% if (userorders != null) { %>
    <% for (let j = 0; j < userorders.length; j++) { %>
        <%const orders = userorders[j].orders;%>
        <%const user = userorders[j]._id;%>
        <div id="userdiv" user="<%=user%>">
            <% if(isAdmin) {%>
            <div class="mt-2">
                <% if (orders.length != 0) {%>
                    <br>
                    <b>Orders preformed by: </b><%=user%>
                <%}%>
            </div>
            <%}%>
            <%for (let i = 0; i < orders.length; i++) { const order = orders[i]%>
                <div class="bg-transparent mt-3" id="singleorder" data-id="<%=order._id%>">
                    <div class="bg-primary bg-opacity-25 p-3 border border-bottom-0 rounded-top">
                        <% if(isAdmin) {%>
                            <div class="row">
                                <div class="col-2">
                                    <b>DATE</b><br>
                                    <div id="actualDate" hidden><%=order.date%></div>
                                    <%=order.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });%>
                                </div>
                                <div class="col-5">
                                    <b>TOTAL</b><br>
                                    <div id="totalprice" orderid="<%=order._id%>">
                                        $<%=order.total_price%>
                                    </div>
                                </div>
                                <div class="col-3 text-break">
                                    <b>ORDER ID</b><br>
                                    <%=order._id%>
                                </div>
                                <div class="col-2 d-flex justify-content-end">
                                    <button type="button" class="btn btn-danger deleteOrder" data-id="<%=order._id%>">Delete</button>
                                </div>
                            </div>
                        <%} else { %>
                            <div class="row">
                                <div class="col-2">
                                    <b>DATE</b><br>
                                    <div id="actualDate" hidden><%=order.date%></div>
                                    <%=order.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });%>
                                </div>
                                <div class="col-6">
                                    <b>TOTAL</b><br>
                                    <div id="totalprice" orderid="<%=order._id%>">$<%=order.total_price%></div>
                                </div>
                                <div class="col-4 text-break">
                                    <b>ORDER ID</b><br>
                                    <%=order._id%>
                                </div>
                            </div>
                        <%}%> 
                    </div>
                    <div class ="bg-transparent p-3 border rounded-bottom">
                        <ul class="list-group"> 
                            <% for(let i=0; i < order.items.length; i++) { %>
                                <li class="list-group-item border border-0">
                                    <div class="d-flex py-2 justify-content-between align-items-center">
                                        <div class="container col-sm-2">
                                            <img src= "<%=order.items[i].item.picture%>" class="img-fluid" style="max-height: 150px;"></img>
                                        </div>
                                        <div class="w-70 px-2 align-self-start">
                                            <%=order.items[i].item.name%> <!--TODO: make item link href to product page-->
                                        </div>
                                        <div class="w-30 text-center">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="fs-5 w-50">$<%= order.items[i].item.price %></div>
                                                <select class="form-select w-50" id="quantity" data-itemid="<%=order.items[i]._id%>" data-orderid="<%=order._id%>" <%= isAdmin ? 'disabled' : ((new Date() - order.date <= 30 * 60 * 1000) ? '' : 'disabled') %>>
                                                    <%for(var num = 1; num<=10; num++) {%>
                                                        <option value="<%=num%>" <%= order.items[i].quantity === num ? 'selected' : '' %>><%=num%></option>
                                                    <%}%>
                                                </select>
                                            </div>
                                        </div>
                                    </div>                                        
                                </li>
                            <% } %>   
                        </ul>
                    </div>
                </div>
            <%}%>
        </div>
    <%}%>
<%} else { %>
    
    <div class="bg-transparent mt-3">
            <div class="row justify-content-center mt-5">
                No Previous Orders
            </div>
            <div class="row justify-content-center mt-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.5 3.5 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.5 4.5 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
                  </svg>
            </div>
    </div>
<%}%>


<script>
  $(document).ready(function () {
    $('#quantity').change(function () {
      var quantity = $(this).val();
      var tupleid = $(this).data("itemid")
      var orderid = $(this).data("orderid")
      $.post('/order/update', { orderid, tupleid, quantity }).done(function (response) {
        var totalprice = response.total_price
        $('#totalprice[orderid="' + orderid + '"]').text("$" + totalprice)
      }).fail(function () {
        
      });
    });
  });
</script>