<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: "Cart"}); %>
</head>
<body class="bg-light">
    <div class="container mt-4 mb-5">
        <h1 class="mb-4">Checkout</h1>
        <form id="checkoutForm">
            <div class="row g-4">
                <div class="col-md-8">
                    <!-- Shipping Information -->
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header bg-light fw-bold py-3">
                            Shipping Information
                        </div>
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="first-name" placeholder="First name" required>
                                        <label for="first-name">First name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="last-name" placeholder="Last name" required>
                                        <label for="last-name">Last name</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="phone" placeholder="Phone Number" required>
                                        <label for="phone">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="address" placeholder="Address" required>
                                        <label for="address">Address</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="city" placeholder="City" required>
                                        <label for="city">City</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="country" required>
                                            <option value="Israel">Israel</option>
                                        </select>
                                        <label for="country">Country</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="zip" placeholder="Zip Code" required>
                                        <label for="zip">Zip Code</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Payment Information -->
                    <div class="card shadow-sm">
                        <div class="card-header bg-light fw-bold py-3">
                            Payment Information
                        </div>
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="card-owner" placeholder="Name on card" required>
                                        <label for="card-owner">Name on card</label>
                                        <small class="text-muted">Full name as displayed on card</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 position-relative">
                                        <input type="text" class="form-control" id="card-number" name="card-number" maxlength="16" placeholder="Card number" required>
                                        <label for="card-number">Card number</label>
                                        <span class="position-absolute top-50 end-0 translate-middle-y me-3 d-inline-block" style="display:inline-block;">
                                            <svg class="card-type-view" id="visa" name="card-type-image" height="100px" version="1.1" viewBox="0 0 160 100" width="160px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g id="Visa"><rect d="M0,9 L0,89 L160,89 L160,9 L0,9 Z M0,9" fill="#F6F6F6" height="80" id="Rectangle-20" width="160" x="0" y="9"/><path d="M148,1.01146687e-06 C140,1.76644588e-06 55.3007812,-1.60318373e-06 8,1.01146687e-06 C4,1.23257532e-06 -1.27897692e-13,4.00000101 7.10542736e-14,8.00000101 L7.10542736e-14,20.000001 L160,20.000001 C160,20.000001 159.999998,38.5719411 160,12.000001 C160,4.00000101 156,1.01146687e-06 148,1.01146687e-06 Z M148,1.01146687e-06" fill="#265697" id="Rectangle-1"/><path d="M0,80 C0,80 9.66373104e-07,80.000001 0,88.0000005 C-4.6283987e-07,95.9999999 4,99.9999997 12,99.9999997 C56.6232096,99.9999997 140,100 148,99.9999997 C156,99.9999997 160,95.9999999 160,88.0000005 L160,80 L0,80 Z M0,80" fill="#D97B16" id="Rectangle-1"/><path d="M111.614545,29.7821084 C109.372,28.9224828 105.858424,28 101.470273,28 C90.2863939,28 82.4084242,33.7551133 82.3411818,42.0028374 C82.2781818,48.0997635 87.9653636,51.5007685 92.258697,53.5306207 C96.6644545,55.6103251 98.1454848,56.9368276 98.1242727,58.793931 C98.0964848,61.6381084 94.6060303,62.9375172 91.3529394,62.9375172 C86.8226667,62.9375172 84.4159394,62.2944236 80.6987273,60.7102069 L79.2401818,60.0359015 L77.6516061,69.5344828 C80.2950606,70.718798 85.1838182,71.7451034 90.2596667,71.7982069 C102.157333,71.7982069 109.881091,66.109202 109.968909,57.3016158 C110.011545,52.4746207 106.995818,48.8013793 100.466091,45.7731823 C96.5098182,43.8103054 94.0869697,42.5004926 94.1126364,40.5129064 C94.1126364,38.7492217 96.1634242,36.8632906 100.594424,36.8632906 C104.295727,36.8045517 106.976727,37.6292808 109.065909,38.4889064 L110.080061,38.9785419 L111.614545,29.7821084" fill="#265697" id="Shape"/><path d="M140.638455,28.7779113 L131.892485,28.7779113 C129.183273,28.7779113 127.155606,29.5334975 125.965818,32.2966108 L109.156061,71.1819901 L121.041424,71.1819901 C121.041424,71.1819901 122.984667,65.9535764 123.424182,64.8056749 C124.723,64.8056749 136.269182,64.8238818 137.919697,64.8238818 C138.258455,66.3092611 139.296788,71.1819901 139.296788,71.1819901 L149.799333,71.1819901 L140.638455,28.7779113 L140.638455,28.7779113 Z M126.681515,56.1268374 C127.617606,53.6821281 131.191,44.2654778 131.191,44.2654778 C131.124182,44.3784039 132.120091,41.8088473 132.691758,40.2157438 L133.456667,43.8740296 C133.456667,43.8740296 135.623909,54.0024828 136.077,56.1264039 L126.681515,56.1268374 L126.681515,56.1268374 L126.681515,56.1268374 L126.681515,56.1268374 Z M126.681515,56.1268374" fill="#265697" id="Shape"/><path d="M59.2498788,71.1685517 L66.3264545,28.7373793 L77.6450303,28.7373793 L70.5635758,71.1685517 L59.2498788,71.1685517 Z M59.2498788,71.1685517" fill="#265697" id="Shape"/><path d="M49.7568182,28.7683744 L38.6756061,57.7032512 L37.4949394,51.8230739 C35.4320606,45.0446897 29.0047879,37.7005911 21.8193939,34.0238818 L31.9517879,71.1319212 L43.9270909,71.1180493 L61.7461212,28.7683744 L49.7568182,28.7683744" fill="#265697" id="Shape"/><path d="M28.3955758,28.7421478 L10.1444545,28.7421478 L10,29.6249655 C24.1991818,33.1371626 33.5946667,41.6248276 37.4947273,51.8230739 L33.5261515,32.3243547 C32.841,29.6375369 30.8538485,28.8357833 28.3955758,28.7421478" fill="#D97B16" id="Shape"/></g></g></svg>
                                            <svg class="card-type-view" id="mastercard" name="card-type-image" enable-background="new 0 0 64 64" height="64px" id="Layer_1" version="1.1" viewBox="0 0 64 64" width="64px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><g><path d="M63.5,32c0,10.4-8.4,18.9-18.9,18.9c-10.4,0-18.9-8.5-18.9-18.9v0c0-10.4,8.4-18.9,18.8-18.9     C55.1,13.1,63.5,21.6,63.5,32C63.5,32,63.5,32,63.5,32z" fill="#FFB600"/></g></g><g><g><path d="M44.6,13.1c10.4,0,18.9,8.5,18.9,18.9c0,0,0,0,0,0c0,10.4-8.4,18.9-18.9,18.9c-10.4,0-18.9-8.5-18.9-18.9     " fill="#F7981D"/></g></g><g><g><path d="M44.6,13.1c10.4,0,18.9,8.5,18.9,18.9c0,0,0,0,0,0c0,10.4-8.4,18.9-18.9,18.9" fill="#FF8500"/></g></g><g><g><path d="M19.2,13.1C8.9,13.2,0.5,21.6,0.5,32c0,10.4,8.4,18.9,18.9,18.9c4.9,0,9.3-1.9,12.7-4.9l0,0h0     c0.7-0.6,1.3-1.3,1.9-2h-3.9c-0.5-0.6-1-1.3-1.4-1.9h6.7c0.4-0.6,0.8-1.3,1.1-2h-8.9c-0.3-0.6-0.6-1.3-0.8-2h10.4     c0.6-1.9,1-3.9,1-6c0-1.4-0.2-2.7-0.4-4H26.2c0.1-0.7,0.3-1.3,0.5-2h10.4c-0.2-0.7-0.5-1.4-0.8-2h-8.8c0.3-0.7,0.7-1.3,1.1-2h6.7     c-0.4-0.7-0.9-1.4-1.5-2h-3.7c0.6-0.7,1.2-1.3,1.9-1.9c-3.3-3.1-7.8-4.9-12.7-4.9C19.3,13.1,19.3,13.1,19.2,13.1z" fill="#FF5050"/></g></g><g><g><path d="M0.5,32c0,10.4,8.4,18.9,18.9,18.9c4.9,0,9.3-1.9,12.7-4.9l0,0h0c0.7-0.6,1.3-1.3,1.9-2h-3.9     c-0.5-0.6-1-1.3-1.4-1.9h6.7c0.4-0.6,0.8-1.3,1.1-2h-8.9c-0.3-0.6-0.6-1.3-0.8-2h10.4c0.6-1.9,1-3.9,1-6c0-1.4-0.2-2.7-0.4-4     H26.2c0.1-0.7,0.3-1.3,0.5-2h10.4c-0.2-0.7-0.5-1.4-0.8-2h-8.8c0.3-0.7,0.7-1.3,1.1-2h6.7c-0.4-0.7-0.9-1.4-1.5-2h-3.7     c0.6-0.7,1.2-1.3,1.9-1.9c-3.3-3.1-7.8-4.9-12.7-4.9c0,0-0.1,0-0.1,0" fill="#E52836"/></g></g><g><g><path d="M19.4,50.9c4.9,0,9.3-1.9,12.7-4.9l0,0h0c0.7-0.6,1.3-1.3,1.9-2h-3.9c-0.5-0.6-1-1.3-1.4-1.9h6.7     c0.4-0.6,0.8-1.3,1.1-2h-8.9c-0.3-0.6-0.6-1.3-0.8-2h10.4c0.6-1.9,1-3.9,1-6c0-1.4-0.2-2.7-0.4-4H26.2c0.1-0.7,0.3-1.3,0.5-2     h10.4c-0.2-0.7-0.5-1.4-0.8-2h-8.8c0.3-0.7,0.7-1.3,1.1-2h6.7c-0.4-0.7-0.9-1.4-1.5-2h-3.7c0.6-0.7,1.2-1.3,1.9-1.9     c-3.3-3.1-7.8-4.9-12.7-4.9c0,0-0.1,0-0.1,0" fill="#CB2026"/></g></g><g><g><g><path d="M26.1,36.8l0.3-1.7c-0.1,0-0.3,0.1-0.5,0.1c-0.7,0-0.8-0.4-0.7-0.6l0.6-3.5h1.1l0.3-1.9h-1l0.2-1.2h-2      c0,0-1.2,6.6-1.2,7.4c0,1.2,0.7,1.7,1.6,1.7C25.4,37.1,25.9,36.9,26.1,36.8z" fill="#FFFFFF"/></g></g><g><g><path d="M26.8,33.6c0,2.8,1.9,3.5,3.5,3.5c1.5,0,2.1-0.3,2.1-0.3l0.4-1.9c0,0-1.1,0.5-2.1,0.5      c-2.2,0-1.8-1.6-1.8-1.6h4.1c0,0,0.3-1.3,0.3-1.8c0-1.3-0.7-2.9-2.9-2.9C28.3,28.9,26.8,31.1,26.8,33.6z M30.3,30.7      c1.1,0,0.9,1.3,0.9,1.4H29C29,32,29.2,30.7,30.3,30.7z" fill="#FFFFFF"/></g></g><g><g><path d="M43,36.8l0.4-2.2c0,0-1,0.5-1.7,0.5c-1.4,0-2-1.1-2-2.3c0-2.4,1.2-3.7,2.6-3.7c1,0,1.8,0.6,1.8,0.6      l0.3-2.1c0,0-1.2-0.5-2.3-0.5c-2.3,0-4.6,2-4.6,5.8c0,2.5,1.2,4.2,3.6,4.2C41.9,37.1,43,36.8,43,36.8z" fill="#FFFFFF"/></g></g><g><g><path d="M15.1,28.9c-1.4,0-2.4,0.4-2.4,0.4l-0.3,1.7c0,0,0.9-0.4,2.2-0.4c0.7,0,1.3,0.1,1.3,0.7      c0,0.4-0.1,0.5-0.1,0.5s-0.6,0-0.9,0c-1.7,0-3.6,0.7-3.6,3c0,1.8,1.2,2.2,1.9,2.2c1.4,0,2-0.9,2.1-0.9l-0.1,0.8h1.8l0.8-5.5      C17.8,29,15.8,28.9,15.1,28.9z M15.5,33.4c0,0.3-0.2,1.9-1.4,1.9c-0.6,0-0.8-0.5-0.8-0.8c0-0.5,0.3-1.2,1.8-1.2      C15.4,33.4,15.5,33.4,15.5,33.4z" fill="#FFFFFF"/></g></g><g><g><path d="M19.7,37c0.5,0,3,0.1,3-2.6c0-2.5-2.4-2-2.4-3c0-0.5,0.4-0.7,1.1-0.7c0.3,0,1.4,0.1,1.4,0.1l0.3-1.8      c0,0-0.7-0.2-1.9-0.2c-1.5,0-3,0.6-3,2.6c0,2.3,2.5,2.1,2.5,3c0,0.6-0.7,0.7-1.2,0.7c-0.9,0-1.8-0.3-1.8-0.3l-0.3,1.8      C17.5,36.8,18,37,19.7,37z" fill="#FFFFFF"/></g></g><g><g><path d="M59.6,27.3L59.2,30c0,0-0.8-1-1.9-1c-1.8,0-3.4,2.2-3.4,4.8c0,1.6,0.8,3.3,2.5,3.3      c1.2,0,1.9-0.8,1.9-0.8l-0.1,0.7h2l1.5-9.6L59.6,27.3z M58.7,32.6c0,1.1-0.5,2.5-1.6,2.5c-0.7,0-1.1-0.6-1.1-1.6      c0-1.6,0.7-2.6,1.6-2.6C58.3,30.9,58.7,31.4,58.7,32.6z" fill="#FFFFFF"/></g></g><g><g><path d="M4.2,36.9l1.2-7.2l0.2,7.2H7l2.6-7.2l-1.1,7.2h2.1l1.6-9.6H8.9l-2,5.9l-0.1-5.9H3.9l-1.6,9.6H4.2z" fill="#FFFFFF"/></g></g><g><g><path d="M35.2,36.9c0.6-3.3,0.7-6,2.1-5.5c0.2-1.3,0.5-1.8,0.7-2.3c0,0-0.1,0-0.4,0c-0.9,0-1.6,1.2-1.6,1.2      l0.2-1.1h-1.9l-1.3,7.8H35.2z" fill="#FFFFFF"/></g></g><g><g><path d="M47.6,28.9c-1.4,0-2.4,0.4-2.4,0.4l-0.3,1.7c0,0,0.9-0.4,2.2-0.4c0.7,0,1.3,0.1,1.3,0.7      c0,0.4-0.1,0.5-0.1,0.5s-0.6,0-0.9,0c-1.7,0-3.6,0.7-3.6,3c0,1.8,1.2,2.2,1.9,2.2c1.4,0,2-0.9,2.1-0.9l-0.1,0.8h1.8l0.8-5.5      C50.4,29,48.3,28.9,47.6,28.9z M48.1,33.4c0,0.3-0.2,1.9-1.4,1.9c-0.6,0-0.8-0.5-0.8-0.8c0-0.5,0.3-1.2,1.8-1.2      C48,33.4,48,33.4,48.1,33.4z" fill="#FFFFFF"/></g></g><g><g><path d="M52,36.9c0.6-3.3,0.7-6,2.1-5.5c0.2-1.3,0.5-1.8,0.7-2.3c0,0-0.1,0-0.4,0c-0.9,0-1.6,1.2-1.6,1.2      l0.2-1.1h-1.9l-1.3,7.8H52z" fill="#FFFFFF"/></g></g></g><g><g><g><path d="M23,35.4c0,1.2,0.7,1.7,1.6,1.7c0.7,0,1.3-0.2,1.5-0.3l0.3-1.7c-0.1,0-0.3,0.1-0.5,0.1      c-0.7,0-0.8-0.4-0.7-0.6l0.6-3.5h1.1l0.3-1.9h-1l0.2-1.2" fill="#DCE5E5"/></g></g><g><g><path d="M27.8,33.6c0,2.8,0.9,3.5,2.5,3.5c1.5,0,2.1-0.3,2.1-0.3l0.4-1.9c0,0-1.1,0.5-2.1,0.5      c-2.2,0-1.8-1.6-1.8-1.6h4.1c0,0,0.3-1.3,0.3-1.8c0-1.3-0.7-2.9-2.9-2.9C28.3,28.9,27.8,31.1,27.8,33.6z M30.3,30.7      c1.1,0,1.3,1.3,1.3,1.4H29C29,32,29.2,30.7,30.3,30.7z" fill="#DCE5E5"/></g></g><g><g><path d="M43,36.8l0.4-2.2c0,0-1,0.5-1.7,0.5c-1.4,0-2-1.1-2-2.3c0-2.4,1.2-3.7,2.6-3.7c1,0,1.8,0.6,1.8,0.6      l0.3-2.1c0,0-1.2-0.5-2.3-0.5c-2.3,0-3.6,2-3.6,5.8c0,2.5,0.2,4.2,2.6,4.2C41.9,37.1,43,36.8,43,36.8z" fill="#DCE5E5"/></g></g><g><g><path d="M12.4,31.1c0,0,0.9-0.4,2.2-0.4c0.7,0,1.3,0.1,1.3,0.7c0,0.4-0.1,0.5-0.1,0.5s-0.6,0-0.9,0      c-1.7,0-3.6,0.7-3.6,3c0,1.8,1.2,2.2,1.9,2.2c1.4,0,2-0.9,2.1-0.9l-0.1,0.8h1.8l0.8-5.5c0-2.3-2-2.4-2.8-2.4 M16.5,33.4      c0,0.3-1.2,1.9-2.4,1.9c-0.6,0-0.8-0.5-0.8-0.8c0-0.5,0.3-1.2,1.8-1.2C15.4,33.4,16.5,33.4,16.5,33.4z" fill="#DCE5E5"/></g></g><g><g><path d="M17.5,36.8c0,0,0.6,0.2,2.3,0.2c0.5,0,3,0.1,3-2.6c0-2.5-2.4-2-2.4-3c0-0.5,0.4-0.7,1.1-0.7      c0.3,0,1.4,0.1,1.4,0.1l0.3-1.8c0,0-0.7-0.2-1.9-0.2c-1.5,0-2,0.6-2,2.6c0,2.3,1.5,2.1,1.5,3c0,0.6-0.7,0.7-1.2,0.7" fill="#DCE5E5"/></g></g><g><g><path d="M59.2,30c0,0-0.8-1-1.9-1c-1.8,0-2.4,2.2-2.4,4.8c0,1.6-0.2,3.3,1.5,3.3c1.2,0,1.9-0.8,1.9-0.8l-0.1,0.7      h2l1.5-9.6 M59.1,32.6c0,1.1-0.9,2.5-2,2.5c-0.7,0-1.1-0.6-1.1-1.6c0-1.6,0.7-2.6,1.6-2.6C58.3,30.9,59.1,31.4,59.1,32.6z" fill="#DCE5E5"/></g></g><g><g><path d="M4.2,36.9l1.2-7.2l0.2,7.2H7l2.6-7.2l-1.1,7.2h2.1l1.6-9.6H9.7l-2.8,5.9l-0.1-5.9H5.7l-3.4,9.6H4.2z" fill="#DCE5E5"/></g></g><g><g><path d="M33.1,36.9h2.1c0.6-3.3,0.7-6,2.1-5.5c0.2-1.3,0.5-1.8,0.7-2.3c0,0-0.1,0-0.4,0c-0.9,0-1.6,1.2-1.6,1.2      l0.2-1.1" fill="#DCE5E5"/></g></g><g><g><path d="M44.9,31.1c0,0,0.9-0.4,2.2-0.4c0.7,0,1.3,0.1,1.3,0.7c0,0.4-0.1,0.5-0.1,0.5s-0.6,0-0.9,0      c-1.7,0-3.6,0.7-3.6,3c0,1.8,1.2,2.2,1.9,2.2c1.4,0,2-0.9,2.1-0.9l-0.1,0.8h1.8l0.8-5.5c0-2.3-2-2.4-2.8-2.4 M49,33.4      c0,0.3-1.2,1.9-2.4,1.9c-0.6,0-0.8-0.5-0.8-0.8c0-0.5,0.3-1.2,1.8-1.2C48,33.4,49,33.4,49,33.4z" fill="#DCE5E5"/></g></g><g><g><path d="M49.9,36.9H52c0.6-3.3,0.7-6,2.1-5.5c0.2-1.3,0.5-1.8,0.7-2.3c0,0-0.1,0-0.4,0c-0.9,0-1.6,1.2-1.6,1.2      l0.2-1.1" fill="#DCE5E5"/></g></g></g></g></svg>
                                            <svg class="card-type-view" id="amex" name="card-type-image" height="512px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x31_6-amex_x2C__Credit_card"><g><g><path d="M432.121,329.196v-3.595c-8.621,4.47-3.114,3.595-125.077,3.595c0-20.117,0.081-19.078,0-20.117     C305.688,309,304.49,309,299.54,309c0,14.287-0.078,5.428-0.078,20.196h-31.608c0-9.66,0.08-12.213,0.08-23.31     c-7.982,4.79-18.199,5.109-27.379,4.949c0,11.732-0.08,6.626-0.08,18.36h-39.03c-4.071-4.553-2.156-2.478-12.292-13.891     c-2.556,2.794-10.218,11.097-12.852,13.891H110.85v-73.675h66.329c3.991,4.471,2.235,2.475,12.371,13.728     c2.555-2.792,9.738-10.696,12.533-13.728h46.295c7.821,0,14.368,1.518,19.396,4.471v-4.471c43.342,0,51.324-1.118,60.424,4.07     v-4.07h62.419v4.15c9.099-5.508,15.644-4.15,51.802-4.15v3.991c8.222-4.71,13.249-4.15,43.343-3.991V115.519     c0-21.152-17.161-38.314-38.315-38.314H64.314c-21.152,0-38.313,17.162-38.313,38.314v87.641     c7.504-17.48,15.725-36.716,18.438-43.021h31.689c3.433,8.061,1.276,2.952,7.184,16.841v-16.841h36.717     c2.314,4.947,8.86,19.155,11.095,23.945c4.629-10.856,8.063-19.078,10.058-23.945h82.213c0-0.081,9.18,0,9.26,0     c34.88,0.158,42.782-0.64,51.402,4.229v-4.229h31.85v7.422c6.065-4.869,14.288-7.422,24.503-7.422h22.03     c0,0.399,1.519,0.239,1.837,0.239h25.86c3.354,7.821,2.076,4.788,7.023,16.442v-16.442h34.563     c3.911,6.385-0.798-1.437,8.938,14.686v-14.686h31.849v73.434h-33.204c-4.312-7.185-1.118-1.757-10.536-17.48v17.48h-42.146     c-5.107-11.814-0.081-0.24-5.268-12.213h-15.167c-3.351,7.981-1.755,4.151-5.107,12.213h-21.393     c-9.815,0-17.799-2.395-23.705-7.104v7.104h-53.079c-0.24-11.095-0.081-19.796-0.081-19.796     c-1.437-0.239-2.715-0.159-7.822-0.159v20.034H146.848v-9.1c-1.996,4.47-2.155,4.71-4.071,9.1H119.23     c-3.193-7.104-2.314-5.108-4.07-9.1v9.1H72.935c-3.353-8.062-1.756-4.23-5.108-12.212H52.501     c-3.352,7.981-1.755,4.15-5.108,12.212H26.16V396.48c0,21.155,17.162,38.315,38.314,38.315h383.212     c21.15,0,38.313-17.16,38.313-38.315v-72.154C475.862,330.95,459.897,329.196,432.121,329.196z" style="fill:#016FD0;"/><rect height="55.313" style="fill:#016FD0;" width="13.489" x="293.235" y="170.754"/><path d="M285.652,185.599c0-13.09-11.254-14.685-21.87-14.685l-31.209-0.241v55.314h13.09v-20.034h14.368     c14.687,0,11.573,8.222,11.813,20.034h13.251v-10.776c0-7.342-1.198-12.052-8.781-14.685     C282.222,198.131,285.732,191.985,285.652,185.599z M262.187,194.619h-16.523v-12.213h16.763c4.071,0,8.539,0.799,8.539,5.906     C270.965,193.581,266.734,194.619,262.187,194.619z" style="fill:#016FD0;"/><polygon points="223.474,182.406 223.474,170.754 179.175,170.754 179.175,226.067 223.474,226.067      223.474,214.653 192.424,214.653 192.424,203.639 222.596,203.639 222.596,192.384 192.424,192.384 192.424,182.406    " style="fill:#016FD0;"/><path d="M169.357,226.067v-55.313h-22.031l-15.724,37.514l-17.322-37.514H92.65v52.439l-22.429-52.439     H50.665l-23.707,55.313h14.289l5.107-12.212h27.538l5.108,12.212h26.979v-43.262l19.156,43.262h11.654l19.156-43.262v43.262     H169.357z M51.063,202.361l8.94-22.03l9.18,22.03H51.063z" style="fill:#016FD0;"/><path d="M248.856,266.058h-42.064l-16.763,18.197l-16.363-18.197h-53.078l-0.081,55.313h52.203l17-18.357     l16.283,18.357h25.702l0.079-18.596c15.086,0,39.352,3.67,39.352-18.598C271.126,270.367,261.308,266.058,248.856,266.058z      M166.004,309.718h-32.407v-11.015h28.975V287.45h-28.975v-9.979h33.285l14.288,16.125L166.004,309.718z M218.524,316.264     l-20.193-22.429l20.193-21.871V316.264z M248.697,291.521h-16.923v-14.05h17.161c4.471,0,8.143,1.836,8.143,6.707     C257.078,289.284,253.406,291.521,248.697,291.521z" style="fill:#016FD0;"/><path d="M313.191,198.85c0,17.719,8.141,27.138,26.339,27.138h15.328l5.105-12.212h27.379l5.267,12.212     h26.901v-41.426l24.902,41.426h18.839v-55.073h-13.491v38.393l-23.228-38.393h-20.194v52.2l-22.268-52.2h-19.796l-18.758,43.5     h-5.906c-10.617,0-12.851-6.466-12.851-15.884c0-18.997,12.531-15.964,26.419-15.725v-12.133h-12.852     C321.572,170.673,313.191,180.251,313.191,198.85z M373.934,180.331l8.938,22.03h-18.198L373.934,180.331z" style="fill:#016FD0;"/><path d="M415.597,309.479h-25.699l-0.081,11.813h25.703c11.813,0,20.912-4.47,20.912-17.559     c0-26.501-34.241-8.94-34.241-20.995c0-4.468,3.91-5.106,7.342-5.106h24.266v-11.655h-26.5c-10.217,0-18.758,5.27-18.758,16.522     c0,26.341,34.081,9.979,34.081,21.872C422.544,308.682,418.87,309.479,415.597,309.479z" style="fill:#016FD0;"/><path d="M330.591,280.984c0-13.091-11.254-14.927-21.63-14.927h-31.45l-0.078,55.313h13.25l0.077-20.192     h14.05c8.78,0,11.813,1.597,11.813,11.015l-0.08,9.178h13.25l0.081-11.014c0-7.104-1.438-12.053-8.782-14.687     C327.239,293.195,330.513,287.05,330.591,280.984z M307.284,289.923H290.76v-12.452h16.764c4.071,0,8.541,0.8,8.541,5.907     C316.064,288.886,311.755,289.923,307.284,289.923z" style="fill:#016FD0;"/><polygon points="381.915,277.471 381.915,266.058 337.854,266.058 337.775,321.371 381.836,321.371      381.915,309.957 351.104,309.718 351.104,298.703 381.356,298.703 381.356,287.45 351.185,287.45 351.185,277.471    " style="fill:#016FD0;"/><path d="M461.097,277.711h24.025v-11.653H458.86c-10.217,0-18.996,5.268-18.996,16.523     c0,26.34,34.082,10.218,34.082,21.87c0,4.07-3.432,5.108-6.704,5.108H441.7l-0.08,11.812h25.542     c6.705,0,14.049-1.438,17.96-7.103v-20.595c-8.383-11.014-31.369-1.037-31.369-10.774     C453.753,278.271,457.423,277.711,461.097,277.711z" style="fill:#016FD0;"/></g></g></g><g id="Layer_1"/></svg>
                                            <svg class="card-type-view" id="unknown" name="card-type-image" height="512px" enable-background="new 0 0 64 64" version="1.1" viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="row_4"/><g id="row_3"><g id="payment_x5F_way"><path d="M58,55H6c-2.8,0-5-2.2-5-5V14c0-2.8,2.2-5,5-5h52c2.8,0,5,2.2,5,5v36C63,52.8,60.8,55,58,55z" fill="#1976D2"/><rect fill="#263238" height="10" width="62" x="1" y="14"/><rect fill="#E0F7FA" height="8" width="46" x="9" y="25"/><g><line fill="none" stroke="#1565C0" stroke-miterlimit="10" x1="9.5" x2="12.6" y1="28.6" y2="25.5"/><line fill="none" stroke="#1565C0" stroke-miterlimit="10" x1="11.7" x2="18.7" y1="32.5" y2="25.5"/><line fill="none" stroke="#1565C0" stroke-miterlimit="10" x1="24.8" x2="17.8" y1="25.5" y2="32.5"/><line fill="none" stroke="#1565C0" stroke-miterlimit="10" x1="30.9" x2="23.9" y1="25.5" y2="32.5"/><line fill="none" stroke="#1565C0" stroke-miterlimit="10" x1="37" x2="30" y1="25.5" y2="32.5"/><line fill="none" stroke="#1565C0" stroke-miterlimit="10" x1="43.1" x2="36.1" y1="25.5" y2="32.5"/><line fill="none" stroke="#1565C0" stroke-miterlimit="10" x1="49.3" x2="42.3" y1="25.5" y2="32.5"/><line fill="none" stroke="#1565C0" stroke-miterlimit="10" x1="54.5" x2="48.4" y1="26.4" y2="32.5"/><line fill="none" stroke="#FBC02D" stroke-miterlimit="10" x1="12.6" x2="15.6" y1="28.5" y2="25.5"/><line fill="none" stroke="#FBC02D" stroke-miterlimit="10" x1="21.7" x2="18.7" y1="25.5" y2="28.5"/><line fill="none" stroke="#FBC02D" stroke-miterlimit="10" x1="27.9" x2="24.9" y1="25.5" y2="28.5"/><line fill="none" stroke="#FBC02D" stroke-miterlimit="10" x1="34" x2="31" y1="25.5" y2="28.5"/><line fill="none" stroke="#FBC02D" stroke-miterlimit="10" x1="40.1" x2="37.1" y1="25.5" y2="28.5"/><line fill="none" stroke="#FBC02D" stroke-miterlimit="10" x1="46.2" x2="43.2" y1="25.5" y2="28.5"/><line fill="none" stroke="#FBC02D" stroke-miterlimit="10" x1="52.3" x2="49.3" y1="25.5" y2="28.5"/><line fill="none" stroke="#C62828" stroke-miterlimit="10" x1="54.5" x2="51.4" y1="29.4" y2="32.5"/><line fill="none" stroke="#C62828" stroke-miterlimit="10" x1="11.6" x2="9.5" y1="29.5" y2="31.6"/><line fill="none" stroke="#C62828" stroke-miterlimit="10" x1="17.7" x2="14.7" y1="29.5" y2="32.5"/><line fill="none" stroke="#C62828" stroke-miterlimit="10" x1="20.9" x2="23.9" y1="32.5" y2="29.5"/><line fill="none" stroke="#C62828" stroke-miterlimit="10" x1="27" x2="30" y1="32.5" y2="29.5"/><line fill="none" stroke="#C62828" stroke-miterlimit="10" x1="33.1" x2="36.1" y1="32.5" y2="29.5"/><line fill="none" stroke="#C62828" stroke-miterlimit="10" x1="39.2" x2="42.2" y1="32.5" y2="29.5"/><line fill="none" stroke="#C62828" stroke-miterlimit="10" x1="45.3" x2="48.3" y1="32.5" y2="29.5"/></g><path d="M52,47.5h-4c-3,0-5.5-2.5-5.5-5.5v0c0-3,2.5-5.5,5.5-5.5h4    c3,0,5.5,2.5,5.5,5.5v0C57.5,45,55,47.5,52,47.5z" fill="none" stroke="#E0E0E0" stroke-miterlimit="10"/><path d="M48,38.5c0.7,0,1.4,0.2,2,0.6c-0.9,0.6-1.5,1.7-1.5,2.9h3c0,1.2-0.6,2.2-1.5,2.9c-0.6,0.4-1.3,0.6-2,0.6    c-1.9,0-3.5-1.6-3.5-3.5S46.1,38.5,48,38.5z" fill="#D32F2F"/><path d="M48.5,42c0-1.2,0.6-2.2,1.5-2.9c0.6-0.4,1.3-0.6,2-0.6c1.9,0,3.5,1.6,3.5,3.5s-1.6,3.5-3.5,3.5    c-0.7,0-1.4-0.2-2-0.6c0.9-0.6,1.5-1.7,1.5-2.9H48.5z" fill="#F57C00"/><g><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="18" x2="11" y1="36.5" y2="36.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="10" x2="6" y1="36.5" y2="36.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="28" x2="19" y1="36.5" y2="36.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="22" x2="28" y1="38.5" y2="38.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="6" x2="21" y1="38.5" y2="38.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="22" x2="28" y1="42.5" y2="42.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="10" x2="6" y1="42.5" y2="42.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="21" x2="11" y1="42.5" y2="42.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="28" x2="20" y1="44.5" y2="44.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="19" x2="6" y1="44.5" y2="44.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="28" x2="18" y1="46.5" y2="46.5"/><line fill="none" stroke="#E0E0E0" stroke-miterlimit="10" x1="6" x2="17" y1="46.5" y2="46.5"/></g></g></g><g id="row_2"/><g id="row_1"/></svg>
										</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="card-expiration" name="card-expiration" placeholder="MM/YY" maxlength="5" required>
                                        <label for="card-expiration">Expiration (MM/YY)</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="card-cvv" name="card-cvv" maxlength="4" placeholder="CVV" required>
                                        <label for="card-cvv">CVV</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order Summary -->
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-header bg-light fw-bold py-3">
                            Order Summary
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <% for (let i = 0; i< items.length; i++) { %>
                                <li class="list-group-item d-flex justify-content-between align-items-start py-3">
                                    <div class="d-flex">
                                        <img src="<%= items[i].item.picture %>" alt="<%= items[i].item.name %>" class="rounded me-2" width="60" height="60" style="object-fit: cover;">
                                        <div>
                                            <h6 class="my-0 fw-semibold"><%= items[i].item.name %></h6>
                                            <small class="text-muted">Quantity: <%= items[i].quantity %></small>
                                        </div>
                                    </div>
                                    <span class="text-muted">$<%= items[i].item.price * items[i].quantity %></span>
                                </li>
                                <% } %>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Subtotal</span>
                                    <strong>$<%= orderPrice %></strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Shipping</span>
                                    <strong>$<%= shippingPrice %></strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span class="fw-bold">Total (USD)</span>
                                    <strong>$<%= orderPrice + shippingPrice %></strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg w-100 mt-4" id="checkout-btn" type="submit">Place Order</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        const showElement = (element) => element.style.display = "inline-block";
        const hideElement = (element) => element.style.display = "none";
        
        document.getElementsByName("card-type-image").forEach(hideElement);
	
		document.getElementsByName("card-number").forEach(input => input.oninput = async() => {
			input.value = input.value.replace(/\D/g, '');
			const creditCard = input.value;
			
			 const patterns = {
                visa: /^4[0-9]{12}(?:[0-9]{3})?$/,
                mastercard: /^5[1-5][0-9]{14}$/,
                amex: /^3[47][0-9]{13}$/
            };
			
            document.getElementsByName("card-type-image").forEach(hideElement);
			for (let card in patterns) {
                    if (patterns[card].test(creditCard)) {
                        document.getElementById(card).style.display = "inline-block";
						return;
                    }
                }

            document.getElementById("unknown").style.display = "inline-block";
		});

        $("card-number").on("input", function() {
            $(this).val($(this).val().replace(/\D/g, ''));

            const creditCard = $(this).value;

            document.getElementsByName("card-type-image").forEach(hideElement);
			for (let card in patterns) {
                if (patterns[card].test(creditCard)) {
                    document.getElementById(card).style.display = "inline-block";
                    return;
                }
            }
        });

        $("#phone").on("input", function() {
            $(this).val($(this).val().replace(/\D/g, ''));
        });

        $("#card-expiration").on("input", function() {
            let val = $(this).val().replace(/\D/g, '');  
            if (val.length > 2) {
                val = val.slice(0, 2) + '/' + val.slice(2);
            }
            $(this).val(val);  // Set the formatted value back
        });

        $("#card-cvv").on("input", function() {
            $(this).val($(this).val().replace(/\D/g, ''));
        });

        
        $("#checkout-btn").click(async() => {
            event.preventDefault();
            const firstName = document.getElementById("first-name").value;
            const lastName = document.getElementById("last-name").value;
            const phone = document.getElementById("phone").value;
            const address = document.getElementById("address").value;
            const city = document.getElementById("city").value;
            const zip = document.getElementById("zip").value;
            
            const cardOwner = document.getElementById("card-owner").value;
            const cardNumber = document.getElementById("card-number").value;
            const cardExpiration = document.getElementById("card-expiration").value;
            const cardCVV = document.getElementById("card-cvv").value;
            
            try {
                const result = await fetch('/order/create', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ 
                    shippingDetails: {
                        firstName: firstName,
                        lastName: lastName,
                        phone: phone,
                        address: address,
                        city: city,
                        zip: zip
                    },
                    paymentDetails: {
                        owner: cardOwner,
                        number: cardNumber,
                        expiration: cardExpiration,
                        cvv: cardCVV
                    }
                 })
                })

                if (result.ok){
                    location.href = "/user_page";
                } else {
                    console.error("Error Occured:", result.statusText);
                }
            } catch (e){
                console.error(e);
            }

            
        })


	
    </script>
</body>
</html>
