<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head', {title: "Website: Personal Page"}); %>
    </head>
    </body>
        <%- include('./partials/header'); %>
        <main>
            <h3>
                Username: <%=username%>
            </h3>
            <h3>
                Is admin: <%=isadmin%>
            </h3>
            <button id="logout" class="btn btn-primary">Log out</button>
        </main>
        <script>
            $(document).ready(function() {
                $("#logout").click(function() {
                    location.href = "/logout"
                })
            })
        </script>
        <%- include('./partials/footer'); %>
    </body>
</html>