<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', {title: "Website: Personal Page"}); %>
    </head>
    <body class="bg-light">
        <%- include('./partials/header'); %>
        <div class="main-div">
            <%- include('./partials/backbutton'); %>
            <div class="mt-5 w-100">
                <div class="row g-0 justify-content-center">
                    <div class="col-10 p-0 bg-white shadow rounded" id="details">
                        <div class="row p-3 fs-3 lego-font">
                            <b>Your Account</b>
                        </div>
                        <div class="row p-3">
                            <b>Your Username:</b>
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" value="<%=user._id%>" disabled>
                            </div>
                        </div>
                        <div class="row p-3">
                            <b>Your Full Name:</b>
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Full name" aria-label="Full name" aria-describedby="addon-wrapping" for="name" value="<%=user.name%>">
                            </div>
                        </div>
                        <div class="row p-3">
                            <b>Your Password:</b>
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Password" aria-label="Password" for="password" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="row p-3">
                            <b>Your Email address:</b>
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Email" aria-label="Email" for="email" aria-describedby="addon-wrapping" value="<%=user.email%>">
                            </div>
                        </div>
                        <div class="row p-3">
                            <b>Creation Date:</b>
                            <span class="ms-2"><%=user.createAt%></span>
                        </div>
                        <div class="list-group m-0 list-group-horizontal p-3">
                            <li class="list-group-item border-0">
                                <button type="button" class="btn btn-primary fw-bold saveChanges">Save Changes</button>
                            </li>
                            <li class="list-group-item border-0">
                                <button type="button" class="btn btn-danger fw-bold deleteAccount">Delete Account</button>
                            </li>
                        </div>
                        <div class="row p-3">
                            <b id="response" class="d-none"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%-include('./partials/confirm', {message: "Are you sure you want to delete your account?", title: "Delete Account"})%>
        <script>
            $(document).ready(function() {
                var response = $("#response")
                function respond(message, error) {
                    response.text(message).removeClass("d-none")
                    if(error) {
                        response.addClass("text-danger")
                        response.removeClass("text-success")
                    } else {
                        response.addClass("text-success")
                        response.removeClass("text-danger")
                    }
                }

                // Handle delete user button click
                $(document).on('click', '.deleteAccount', function() {
                    const userId = $(this).data('id');
                    $('#confirmDelete').data('id', userId);
                    $('#deleteModal').modal('show');
                });

                // Confirm delete user
                $('#confirmDelete').click(function() {
                    const userId = $(this).data('id');
                    $.post('/user/deleteAccount').done(function(data) {
                        if(data.includes("<html")) {
                            location.href = "/"
                        }
                        else {
                            location.href = "/error"
                        }
                    })
                });

                $(".saveChanges").click(function() {
                    var newData = {}
                    $("input[for]").each(function() {
                        var key = $(this).attr('for')
                        var value = $(this).val();
                        if (key && value) {
                            newData[key] = value;
                        }
                    })
                    $.post("/user/updateAccount", {data: newData}).done(function(data) {
                        if(data) {
                            for (var e in data) {
                                respond(data[e].message, true)
                            }
                        }
                        else {
                            // success
                            respond("Successfully saved changes!")
                        }
                    })
                })
            })
        </script>
        <%- include('./partials/footer'); %>
    </body>
</html>
