<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head', {title: "Website: Admin Page"}); %>
    </head>
    <body class="bg-light">
        <%- include('./partials/header'); %>
        <%- include('./partials/backbutton'); %>
        <div class="container mt-4 bg-white main-div">
            <h1 class="mb-4">Admin Dashboard</h1>

            <!-- User Management Section -->
            <div class="mb-4">
                <h2>Manage Users</h2>
                <div class="mt-2">
                    <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#createUserModal">
                        Create New User
                    </button>
                    <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                        Filter
                    </button>
                </div>
                <div class="collapse mt-1" id="collapseFilter">
                    <div class="input-group mb-3">
                        <span class="input-group-text">@</span>
                        <input type="text" class="form-control" id="userSearch" placeholder="Search Users...">
                    </div>
                    <div class="row justify-content-start mb-3">
                        <div class="col-2">
                            <div class="input-group">
                                <span class="input-group-text">Is Admin</span>
                                <div class="input-group-text">
                                    <input id="isadminSearch" class="form-check-input mt-0" type="checkbox" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col" data-provide="datepicker">
                            <div class="input-group">
                                <span class="input-group-text">Created Between</span>
                                <input type="date" class="form-control" id="dateStartSearch">
                                <input type="date" class="form-control" id="dateEndSearch">
                            </div>
                        </div>
                    </div>
                </div>
                
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Is Admin</th>
                            <th>Email</th>
                            <th>Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="userTableBody">
                        <% users.forEach(user => { %>
                            <tr>
                                <td><%= user._id %></td>
                                <td><%= user.name %></td>
                                <td><%= user.isAdmin %></td>
                                <td><%= user.email%></td>
                                <td realdate="<%= user.createAt %>"><%= user.createAt.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });%></td>
                                <td id="actions">
                                    
                                    <button class="btn btn-warning btn-sm editUser" data-id="<%= user._id %>"<%= user.isAdmin && user._id !== admin ? 'disabled' : ''%>>Edit</button>
                                    <button class="btn btn-danger btn-sm deleteUser" data-id="<%= user._id %>"<%= user.isAdmin ? 'disabled' : ''%>>Delete</button>        
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <!-- Create User Modal -->
            <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createUserModalLabel">Create New User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="createUserForm">
                                <div class="mb-3">
                                    <label for="userName" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="userName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="userFullName" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" id="userFullName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="userPassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="userPassword" required>
                                </div>
                                <div class="mb-3">
                                    <label for="userEmail" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="userEmail" required>
                                </div>
                                <div class="mb-3">
                                    <label for="isAdmin" class="form-check-label">Is Admin</label>
                                    <input type="checkbox" class="form-check-input" id="isAdmin" checked="true">
                                </div>
                                <button type="submit" class="btn btn-primary">Create User</button>
                                <p id="errormsgcreate" class="fw-bold text-danger d-none">Error</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit User Modal -->
            <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editUserForm">
                                <div class="mb-3">
                                    <label for="editUserName" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="editUserName" disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="editName" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" id="editName">
                                </div>
                                <div class="mb-3">
                                    <label for="editUserPassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="editUserPassword">
                                </div>
                                <div class="mb-3">
                                    <label for="editEmail" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="editEmail">
                                </div>
                                <div class="mb-3">
                                    <label for="editIsAdmin" class="form-check-label">Is Admin</label>
                                    <input type="checkbox" class="form-check-input" id="editIsAdmin" checked="true">
                                </div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                <p id="errormsgedit" class="fw-bold text-danger d-none">Error</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <%-include('./partials/confirm', {message: "Are you sure you want to delete this user?", title: "Delete User"})%>
        </div>
        <script>
            
            $(document).ready(function() {
                // Handle annoying checkbox
                adminCheckbox = $('#isadminSearch');
                adminCheckbox.prop("indeterminate", true)
                checkboxState = 0;
                adminCheckbox.click(() => {
                    checkboxState = (checkboxState+1) % 3
                    switch(checkboxState) {
                        case 0:
                            adminCheckbox.prop("indeterminate", true);
                            break;
                        case 1:
                            adminCheckbox.prop("checked", true);
                            break;
                        case 2: 
                            adminCheckbox.prop("checked", false);
                            break;
                    }
                })

                // Handle search filters
                $('#userSearch').on('input', filterTable)
                $('#isadminSearch').click(filterTable)
                $('#dateStartSearch').on('input', filterTable)
                $('#dateEndSearch').on('input', filterTable)
                
                function displayError(modal, data) {
                    for (var e in data) {
                        $("#errormsg"+modal).text(data[e].message).removeClass("d-none")
                        return
                    }
                    
                }
                function filterTable() {
                    const searchName = $('#userSearch').val().toLowerCase()
                    const isAdmin = $('#isadminSearch').is(":checked");
                    const startDate = new Date($('#dateStartSearch').val())
                    const endDate = new Date($('#dateEndSearch').val())

                    $('#userTableBody tr').each(function(){
                        const myName = $(this).find('td:eq(0)').text().toLowerCase() + $(this).find('td:eq(1)').text().toLowerCase();
                        const myIsAdmin = $(this).find('td:eq(2)').text() === 'true'
                        const rowDate = new Date($(this).find('td:eq(3)').attr("realdate"));

                        if ((searchName === '' || myName.includes(searchName))
                            && ($('#isadminSearch').is(':indeterminate') || isAdmin === myIsAdmin)
                            && ($('#dateStartSearch').val() === '' ||  startDate <= rowDate)
                            && ($('#dateEndSearch').val() === '' ||  endDate >= rowDate)) {
                                $(this).show()
                        }
                        else {
                            $(this).hide()
                        }
                    })
                }

                // Handle delete user button click
                $(document).on('click', '.deleteUser', function() {
                    const userId = $(this).data('id');
                    $('#confirmDelete').data('id', userId);
                    $('#deleteModal').modal('show');
                });

                // Confirm delete user
                $('#confirmDelete').click(function() {
                    const userId = $(this).data('id');
                    $.post('/user/delete', {username: userId}).done(function(data) {
                       
                        $('#userTableBody').find(`.deleteUser[data-id="${userId}"]`).closest('tr').remove();
                        $('#deleteModal').modal('hide');
                    }).fail(function(err) {
                        if(err.responseText === "Failed deleting user") { // User already deleted
                            $('#userTableBody').find(`.deleteUser[data-id="${userId}"]`).closest('tr').remove();
                            $('#deleteModal').modal('hide');
                        } else {
                            location.href = "/error.ejs"
                        }
                    })
                });

                // Handle create user form submission
                $('#createUserForm').submit(function(event) {
                    $("#errormsgcreate").addClass("d-none")
                    event.preventDefault();
                    const newUser = {
                        _id: $('#userName').val(),
                        name: $('#userFullName').val(),
                        email: $('#userEmail').val(),
                        password: $("#userPassword").val(),
                        isAdmin: ($("#isAdmin:checked").val() === "on"),
                        createAt: new Date(Date.now())
                    };
                    $.post('/user/create', {user: newUser}).done(function(data) {
                        if(!data) {
                            $('#userTableBody').append(`
                                <tr>
                                    <td>${newUser._id}</td>
                                    <td>${newUser.name}</td>
                                    <td>${newUser.isAdmin}</td>
                                    <td>${newUser.email}</td>
                                    <td realdate=\"${newUser.createAt}\">${newUser.createAt.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</td>
                                    <td>
                                        <button class="btn btn-warning btn-sm editUser" data-id="${newUser._id}" ${newUser.isAdmin ? "disabled" : ""}>Edit</button>
                                        <button class="btn btn-danger btn-sm deleteUser" data-id="${newUser._id}" ${newUser.isAdmin ? "disabled" : ""}>Delete</button>
                                    </td>
                                </tr>
                            `);
                            $('#createUserModal').modal('hide');
                            $('#createUserForm')[0].reset();
                        } else {
                            // Display error
                            displayError("create", data)
                        }
                    })
                    
                });

                // Handle edit user button click
                $(document).on('click', '.editUser', function() {
                    const userId = $(this).data('id');
                    $("#errormsgedit").addClass("d-none")
                    $.get('/user/' + userId).done(function(user) {
                        if (typeof(user)==="object") {
                            user = user[0]
                            $('#editUserName').val(user._id);
                            $('#editName').val(user.name);
                            $('#editEmail').val(user.email);
                            $("#editUserPassword").val("")
                            if(!user.isAdmin) {
                                $('#editIsAdmin').removeAttr("checked");
                            } else {
                                $('#editIsAdmin').attr("checked", true);
                            }
                            $('#editUserModal').modal('show');
                        } else {
                            console.log("Cannot find a user in DB")
                            location.reload() // If we failed to find user, it probably does not exist anymore
                                            // Just reload the page so the chart comes back to life
                        }
                    })
                    
                });
                // Handle edit user form submission
                $('#editUserForm').submit(function(event) {
                    event.preventDefault()
                    const userId = $('#editUserName').val()
                    var userdata = {
                        name: $('#editName').val(),
                        email: $('#editEmail').val(),
                        isAdmin: $('#editIsAdmin').is(":checked")
                    }
                    if ($('#editUserPassword').val() !== "") {
                        userdata.password = $('#editUserPassword').val()
                    }
                    $.post('/user/update', {username: userId, data: userdata}).done(function(data) {
                        if(data) {
                            displayError("edit", data)
                            return
                        }
                        const row = $('#userTableBody').find(`.editUser[data-id="${userId}"]`).closest('tr');
                        const user = "<%= admin%>"
                        row.find('td:eq(1)').text(userdata.name);
                        row.find('td:eq(2)').text(userdata.isAdmin);
                        row.find('td:eq(3)').text(userdata.email);
                        row.find('td:eq(5)').children(".editUser").each(function() {
                            $(this).prop("disabled", userdata.isAdmin && userId !== user)
                        })
                        row.find('td:eq(5)').children(".deleteUser").each(function() {
                            $(this).prop("disabled", userdata.isAdmin)
                        })
                        $('#editUserModal').modal('hide');
                    })
                    
                });

            });
        </script>
        <%- include('./partials/footer'); %>
    </body>
</html>